<h1  class="tipografia">Todos los Carritos</h1>

<h4 class="subtitulo0">AL hacer click en el Cart ID te llevará a una pestaña nueva con la visual del Carrito.</h4>

{{#if carts.length}}
    <div class="carts-container0">
        {{#each carts}}
            <div class="cart-item0">
                <a href="/carts/{{id}}" class="cart-id-link0 remove0" target="_blank">
                    <h2 class="cart-id0">ID de carrito: {{id}}</h2>
                </a>
                <p class="total-quantity0">Total Productos: {{totalQuantity}}</p>
                <div class="products-list0">
                    {{#each products}}
                        <div class="product-item0">
                            <p class="product-id0">ID de producto: {{id}}</p>
                            <p class="product-title0">Nombre: {{title}}</p>
                            <p class="product-price0">Precio: ${{price}}</p>
                            <p class="product-quantity0">Cantidad: {{quantity}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p class="no-carts0">No encontrado</p>
{{/if}}
<a href="/" class="pointer songoro" id="add2Cart">Volver al Inicio</a>